# Logging
ENV_MODE=development
LOG_LEVEL=INFO
COLORIZE=true
JSON_LOGS=false

# HuggingFace
HF_TOKEN=
HF_HUB_DOWNLOAD_TIMEOUT=1200
HF_HUB_ENABLE_HF_TRANSFER=1
TOKENIZERS_PARALLELISM=false

# Vantage Cloud Pricing API (https://vantage.sh)
VANTAGE_API_TOKEN=